<div ng-controller='dashboardController as dash'>
  <h4 class='col-xs-12 navbar'>
    <span ng-show='!dash.username'><a href="#/">Login</a></span>
    <span ng-show='dash.admin_status == "true"'><a href="#/admin">Admin</a></span>
    <a ng-show='dash.username' href="#/profile/{{dash.id}}">Profile</a> <a href="#/dashboard">Dashboard</a> <a href="#/members">Members</a> <a href="#/about">About</a> <a href="#/support">Support/Feedback</a>
    <span ng-show='dash.username'><a href="#/"ng-click='dash.logout()'>Logout</a></span>
  </h4>
  <div class="col-xs-12">

    <h1>About</h1>
    <p><small>Website last updated: 12/2016</small></p>
    <div class="col-md-6">
      <h3>General</h3>
      <p>This was my first serious project utilizing my MEAN skills, using MonogoDB, Express.JS, Node.JS, and AngularJS 1with a combination of CSS and Bootstap, so it would be responsive and mobile friendly. The focus was on MEAN and AngularJS functionality, I wanted to do a message board/forum and what better topic than video games, one of the things I'm most passionate about. You can view the entire website without being logged in but users are unable to do any kind of activity without being logged in.</p>

      <p>Users can register, log in, create topics, post on topics and comment on those posts, like posts or comments, and flag inappropriate activity. I utilized both client side and server side validations for all forms and security. You can also see all members, filter different tables, search for the different categories, see info about other users, edit your own profile, and give support or feedback. Admin users can also delete any topics, posts and comments, as well as view all support/feedback tickets. I know there is plenty that can be added onto this site but this is the basic functionality I wanted to implement before I worked on other projects. With any website, new functionality can be added, but the important thing is to get the basic functionality working first and up and running.</p>
    </div>


    <div class="col-md-6">
      <h3>About Me <small class="about-small">Last updated: 10/2017</small></h3>
      <p>My name is Jerrod Quintana, I'm a full stack developer in the DFW area currently living in the north Dallas area. After deciding I wanted something more fulfulling and challenging out of my career, I decided to go through a career change and become a developer. First by learning on my own, then by attending the Coding Dojo coding bootcamp in Dallas, TX, I dedicated myself to learning everything I could and gaining the mindset and skills of a developer. </p>

      <p>I'm a fully capable front end and back end developer. I first gained my skills by attending Coding Dojo, a 3 month intensive and immersive coding school that teaches you everything you need to know to be a full stack developer, from front end to the back end, database, deployment, github, common trends and practices, ect. Through coding dojo, I learned what makes a developer successful and excel in this field, and cultivated the mindset and skills to get me started. I graduated from the Dojo in December of 2016, and since then have continued to grow and learn on my own as a developer, always striving to improve. The 3 stacks I learned at Coding Dojo was Python with Flask/Pylot and MySQL, the full MEAN stack, and Ruby on Rails with PostgreSQL. I also learned front end with HTML, CSS, Jquery, Bootstrap.</p>

      <p>To more recent information about me, see the link to my portfolio below. You can also contact me via email or LinkedIn. You can see my code for this project and more on my github account below.</p>
    </div>
    <div class="col-xs-12">
      <h3>Contact Info</h3>
      <ul>
        <li><a href="http://www.jerrodquintana.com/"><img class="image_main" src="../static/images/portfolio.ico" alt="portfolio_link">Portfolio</a></li>
        <li><a href="mailto:jerrodq2@yahoo.com"><img class="image" src="../static/images/mail.png" alt="mail_image">jerrodq2@yahoo.com</a></li>
        <li><a href="https://github.com/jerrodq2"><img class="image_main" src="../static/images/mark-github.svg" alt="github_image">Github</a></li>
        <li><a href="https://www.linkedin.com/in/jerrodquintana/"><img class="image_main" src="../static/images/linkedin.svg" alt="linkedin_image">Linkedin</a></li>
        <li><a href="https://www.facebook.com/jerrod.quintana"><img class="image" src="../static/images/facebook.png" alt="facebook_image">Facebook</a></li>
      </ul>
    </div>

  </div>
</div>
