<div ng-controller='dashboardController as dash'>
  <h4 class='col-xs-12 navbar'>
    <span ng-show='!dash.username'><a href="#/">Login</a></span>
    <span ng-show='mc.admin_status == "true"'><a href="#/admin">Admin</a></span>
    <a ng-show='dash.username' href="#/profile/{{dash.id}}">Profile</a> <a href="#/dashboard">Dashboard</a> <a href="#/members">Members</a> <a href="#/about">About</a> <a href="#/support">Support/Feedback</a>
    <span ng-show='dash.username'><a href="#/"ng-click='dash.logout()'>Logout</a></span>
  </h4>
  <div class="col-xs-12 col-md-8 col-md-offset-4">

    <h1 class="col-md-offset-1">New Topic</h1>

    <form>

      <span class="col-xs-12 col-md-6">
        <label class="col-xs-12 category_input create_form">Category: <select ng-model='dash.newTopic.category' ng-init="dash.newTopic.category='Consoles'">
          <option value="Consoles">Consoles</option>
          <option value="Retro Gaming">Retro Gaming</option>
          <option value="News">News</option>
          <option value="Upcoming Games/Tech">Upcoming Games/Tech</option>
          <option value="Specific Series">Specific Series</option>
          <option value="Specific Game">Specific Game</option>
          <option value="PC">PC</option>
          <option value="Indie">Indie</option>
          <option value="Handheld">Handheld</option>
          <option value="Collecting">Collecting</option>
          <option value="Conventions and Events">Conventions and Events</option>
          <option value="Other">Other</option>
        </select></label>
        <label class="col-xs-12 create_form">Topic: <input class="topic_input" type="text" ng-model='dash.newTopic.topic'></label>
      </span>

      <span class="col-xs-12">
        <span class="description">Description:</span> <textarea ng-model='dash.newTopic.description' rows="7" cols="40"></textarea>
        <input class="create description" type="submit" ng-click='dash.create()' value="Create New Topic">
      </span>
      <span class='flash col-md-offset-1 col-xs-12'>{{dash.flash}}</span>

    </form>
    <span class="col-xs-12 cancel_button">
      <a class="" href="#/dashboard">Cancel</a>
    </span>

  </div>

</div>
