<div ng-controller='profileController as pc'>
  <h4 class='col-xs-12 navbar'>
    <span ng-show='!pc.username'><a href="#/">Login</a></span>
    <span ng-show='pc.admin_status == "true"'><a href="#/admin">Admin</a></span>
    <a ng-show='pc.username' href="#/profile/{{pc.id}}">Profile</a> <a href="#/dashboard">Dashboard</a> <a href="#/members">Members</a> <a href="#/about">About</a> <a href="#/support">Support/Feedback</a>
    <span ng-show='pc.username'><a href="#/"ng-click='pc.logout()'>Logout</a></span>
  </h4>
  <hr>
  <div class=" col-xs-12 col-md-10 col-md-offset-2">
    <h3>Change Basic Info</h3>
    <div ng-repeat='user in pc.editUser'>
      {{pc.editFlash}}
      <form>
        <span class="col-md-12">
          <label class="col-xs-12 col-md-5 edit_inputs">First Name: <input type="text" ng-model='pc.editInfo.first_name'
          ng-init="pc.editInfo.first_name=user.first_name "></label>
          <label class="col-xs-12 col-md-3 edit_inputs">Last Name: <input type="text" ng-model='pc.editInfo.last_name' ng-init="pc.editInfo.last_name=user.last_name"></label>
        </span>
        <span class="col-md-12">
          <label class="col-xs-12 col-md-5 edit_inputs">Favorite Game: <input type="text" ng-model='pc.editInfo.fav_game' ng-init='pc.editInfo.fav_game=user.fav_game'></label>
          <label class="col-xs-12 col-md-3 edit_inputs">Age: <input type="number" ng-model='pc.editInfo.age' ng-init="pc.editInfo.age=user.age"></label>
        </span>
        <span class="col-md-12">
          <label class="col-xs-12 col-md-5"><span class="description">Hobbies:</span> <textarea ng-model='pc.editInfo.hobbies' ng-init='pc.editInfo.hobbies=user.hobbies' rows="5" cols="40"></textarea></label>
          <label class="col-xs-12 col-md-6"><span class="description">Biography:</span> <textarea ng-model='pc.editInfo.bio' ng-init='pc.editInfo.bio=user.bio' rows="5" cols="40"></textarea></label>
        </span>
        <span class='col-xs-12'><input class="create" type="submit" ng-click='pc.edit(user._id)' value="Submit"></span>
      </form>
    </div>


    <div ng-repeat='user in pc.editUser'>
      <h3 class="sensitive col-xs-12">Change Username or password</h3>
      {{pc.changePassFlash}}
      <form>
        <span class="col-xs-12">
          <label class="col-xs-12 col-md-2">Username: <input class="sensitive_input" type="text" ng-model='pc.passChange.username' ng-init='pc.passChange.username=user.username'></label>
          <label class="col-xs-12 col-md-2">Old Password: <input class="sensitive_input" type="password" ng-model='pc.passChange.checkPass'></label>
          <label class="col-xs-12 col-md-2">New Password: <input class="sensitive_input" type="password" ng-model='pc.passChange.password'></label>
        </span>
        <span  class="col-xs-12">
          <span class="col-xs-12"><input class="create" type="submit" ng-click='confirm = true' value='Submit'></span>
          <p class="col-xs-12 sensitive_confirm"ng-show='confirm'><button class='change' ng-click='pc.changePass(user._id)'>Confirm</button><button class='cancel' ng-click='confirm = false'>Cancel</button>
        </span>
      </form>
    </div>
    <h4 class="col-xs-12 col-md-offset-4"><a href="#/profile/{{pc.user._id}}">Cancel</a></h4>
  </div>
</div>
