<div ng-controller='loginRegController as lrc'>
  <h4 class='navbar'>
    <a href="#/dashboard">Dashboard</a> <a href="#/members">Members</a> <a href="#/about">About</a> <a href="#/support">Support/Feedback</a>
    <span ng-show='dash.username'>
  </h4>
  <h1>Login</h1>
  {{lrc.loginFlash}}
  <form>
    Username: <input type="text" ng-model='lrc.log.username'>
    Password: <input type="password" ng-model='lrc.log.password'>
    <input type="submit" ng-click='lrc.login()' value="Login">
  </form>
  <p>
    Not yet a member? <a href="#/register">Register</a> now!
  </p>
</div>
