.bottom_space{
  margin-bottom: 20px;
}
.support{
  margin-top: 15px;
}
.support_inputs{
  display: block;
  margin-bottom: 4px;
}
.description{
  display: block;
  margin: 15px 0;
}
.category_input{
  margin-right: 20px;
}
.create_form{
  margin-top: 5px;
  margin-bottom: 10px;
}
.topic_input{
  margin-left: 25px;
  width: 179px;
}
.cancel_button {
  margin-top: 15px;
  font-weight: bold;
}
.image{
  height: 25px;
  margin-right: 10px;
}
.image_main{
  height: 20px;
  margin: 10px 10px 10px 4px;
}
