.bottom_space{
  margin-bottom: 20px;
}
.support{
  margin-top: 15px;
}
.support_inputs{
  display: block;
  margin-bottom: 4px;
}
.description{
  display: block;
  margin: 15px 0;
}
.category_input{
  margin-right: 20px;
}
.create_form{
  margin-top: 5px;
  margin-bottom: 10px;
}
.topic_input{
  margin-left: 25px;
  width: 179px;
}
.cancel_button {
  margin-top: 15px;
  font-weight: bold;
}
.image{
  height: 25px;
  margin-right: 10px;
}
.image_main{
  height: 20px;
  margin: 10px 10px 10px 4px;
}
@media all and (min-width: 1500px){ /* EXTRA LARGE */
  .support_small{
    width: 200px;
  }
  .support_box{
    width: 600px;
    height: 200px;
  }
  .support_box_offest{
    margin-left: -3%
  }
  .create_box{
    margin-left: 38%
  }
}
@media all and (max-width: 1499px){ /* LARGE */
  .support_small{
    width: 180px;
  }
  .support_box{
    width: 600px;
    height: 200px;
  }
  .support_box_offest{
    margin-left: -15%
  }
  .create_box{
    margin-left: 38%
  }
}
@media all and (max-width: 959px){ /* MEDIUM */
  .support_box{
    width: 600px;
    height: 200px;
  }
  .support_box_offest{
    margin-left: 0%
  }
  .create_header{
    margin-left: 13%
  }
  .create_box{
    margin-left:33%
  }
}
@media all and (max-width: 480px){ /* SMALL AND EXTRA SMALL */
  .support_box{
    width: 300px;
    height: 150px;
  }
  .support_box_offest{
    margin-left: 0%
  }
  .create_box{
    margin-left: 0%
  }
}
